/* Grid View: Gold Dot Indicator & Border */
/* .attachments .attachment-preview.mediacleanse-unused-item {
    box-shadow: inset 0 0 20px 3px rgba(255, 215, 0, 0.25) !important;
} */
.attachments .attachment-preview.mediacleanse-unused-item .filename,
.attachments li.attachment:has(div.mediacleanse-unused-item)::after {
    background-color: #ffd7004d !important;
    color: #000 !important;
}
.attachments .attachment-preview.mediacleanse-unused-item::after {
    content: '' !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    left: auto !important; /* Force reset left to override core styles */
    width: 10px !important; /* Force exact width */
    height: 10px !important; /* Force exact height */
    background-color: #ffd700 !important;
    border: none !important;
    border-radius: 50% !important;
    z-index: 9999 !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) !important;
    pointer-events: none !important;
    display: block !important;
}
/* Style override for attachment details sidebar field */
.compat-field-mediacleanse_status td {
    vertical-align: middle;
}